*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:Pretendard,sans-serif;
background:#fff8f2;
color:#40342c;
overflow-x:hidden;
}

.container{
width:min(1200px,92%);
margin:auto;
}

button{
font-family:inherit;
}

img{
display:block;
max-width:100%;
}

a{
color:inherit;
}