* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background: #fff8f2;
  font-family: Pretendard, sans-serif;
  color: #40342c;
}
.container {
  width: min(1200px, 92%);
  margin: auto;
}
button {
  font-family: inherit;
}
img {
  display: block;
  max-width: 100%;
}
a {
  color: inherit;
}