.header {
  display: flex;
  position: fixed;
  z-index: 999;
  height: 76px;
  padding: 0 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.55);
  justify-content: space-between;
  align-items: center;
  inset: 0 0 auto 0;
  backdrop-filter: blur(18px);
  .logo {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    align-items: center;
    gap: 10px;
    & span {
      font-size: 18px;
    }
  }
  .menu {
    display: flex;
    gap: 42px;
    & a {
      position: relative;
      color: #6c5b4d;
      text-decoration: none;
      transition: 0.25s;
      &::after {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 0;
        height: 2px;
        background: #ffbfa5;
        transition: 0.25s;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
  .info {
    display: flex;
    font-size: 14px;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 900px) {
  .header {
    .menu {
      display: none;
    }
    .header {
      padding: 0 20px;
    }
  }
}
