.header{
    position:fixed;
    inset:0 0 auto 0;

    height:76px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 48px;

    backdrop-filter:blur(18px);
    background:rgba(255,255,255,.55);

    border-bottom:1px solid rgba(255,255,255,.5);

    z-index:999;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;

    font-size:24px;
    font-weight:700;
}

.logo span{
    font-size:18px;
}

.menu{

display:flex;
gap:42px;

}

.menu a{

text-decoration:none;

color:#6c5b4d;

transition:.25s;

position:relative;

}

.menu a::after{

content:"";

position:absolute;

left:0;
bottom:-6px;

height:2px;
width:0;

background:#ffbfa5;

transition:.25s;

}

.menu a:hover::after{

width:100%;

}

.info{

display:flex;
align-items:center;

gap:10px;

font-size:14px;

}

@media(max-width:900px){

.menu{

display:none;

}

.header{

padding:0 20px;

}

}