@import "tailwindcss";
@import "./css/home.css";

@theme {
  --color-brand-osaka: #005EB8; /* 신뢰감 있는 블루 (오사카 시티) */
  --color-usj-yellow: #FFD700;  /* 유니버셜 스튜디오 포인트 */
  --color-sky-blue: #EBF4FF;    /* 배경용 연한 블루 */
}

:root {
  background-color: var(--color-paper-beige);
}