@import './css/global.css';
@import './css/place.css';
@import './css/popup.css';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
}
